/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


/* @import "tailwindcss"; */


.mu-chef-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.mu-single-chef {
  text-align: center;
  width: 250px;
  overflow: hidden;
  max-height: 350px;
}

.mu-single-chef-info h4 {
  color: orange;
  margin-top: 10px;
}

.mu-single-chef-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  background-color: black;
  padding: 20px 0;
  opacity: 0;
}

.mu-single-chef:hover .mu-single-chef-social{
   transform: translateY(-70px);
   opacity: 1;
   transition: all 0.5s ease-in-out;
}
/* .mu-single-chef-social:hover{
  transform: translateY(-70px)
} */

.mu-single-chef-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid orange;
  color: orange;
  text-decoration: none;
  transition: all 0.3s ease;
}

.mu-single-chef-social a:hover {
  background: orange;
  color: #000;
}

.mu-single-chef-social i {
  font-size: 18px;
}